// Theme colors
$primary: #d5fc63;
$secondary: #101321;
$success: #68cb69;
$info: #3faeee;
$info-secondary: #4ccbc2;
$warning: #f8a646;
$warning-secondary: #9da4ae;
$danger: #f15048;
$light: #9da4ae;
$dark: #000;