// All the SCSS Variables goes here


// achor tag
$link-decoration: none;
$link-color: $primary;
$link-hover-color: $primary;

// radius
$border-radius: 2rem;

// input-border-radius
$input-border-radius: .75rem;
$input-line-height: 2.5;

// icon-wrapper 
$icon-wrapper-width: 40px;
$icon-wrapper-height: 40px;

// height
$height-100vh: 100vh;