// Main styles goes here
@media only screen and (max-width: 768px) {

  #timeChart,
  #costChart,
  #workoutChart {
    border-bottom: 1px solid $light;
  }

  #timeChart,
  #taskChart,
  #workoutChart {
    border-left: none !important;
  }
}

@media only screen and (max-width: 992px) {

  #timeChart {
    border-bottom: 1px solid $light;
    border-left: 1px solid $light;
  }

  #taskChart {
    border-right: 0px !important;
  }

  #costChart {
    border-left: 0px !important;
    border-right: 0px !important;
  }

  #workoutChart {
    border-left: 1px solid $light;
  }
}


// Update the background color of the app


html[data-theme="light"] {
  body {
    --bs-light-rgb: 0, 0, 0;
    background-color: #ffffff !important;
    transition: .4s all ease-in-out;
  }
  .nav-link {
    color: black;
  }
  #workoutChart {
    border-color: black !important;
  }
  .header-light {
    background-color: #ffffff !important;

    transition: .4s all ease-in-out;
  }

  .aside-light {
    background-color: #ffffff !important;
    border-right: 1px solid $dark;
    transition: .4s all ease-in-out;
  }

  .main-light {
    background-color: #ffffff !important;
    transition: .4s all ease-in-out;
  }
}

html[data-theme="dark"] {
  .header-dark {
    background-color: $secondary !important;
    --bs-light-rgb: 157, 164, 174;
    transition: .4s all ease-in-out;
  }
  .aside-dark {
    background-color: $dark !important;
    color: #000000;
    border-right: 1px solid $light;
    transition: .4s all ease-in-out;
  }
  .main-dark {
    background-color: $secondary !important;
    transition: .4s all ease-in-out;
  }
}