// Main styles goes here
@media only screen and (max-width: 768px) {

  #timeChart,
  #costChart,
  #workoutChart {
    border-bottom: 1px solid $light;
  }

  #timeChart,
  #taskChart,
  #workoutChart {
    border-left: none !important;
  }
}

@media only screen and (max-width: 992px) {

  #timeChart {
    border-bottom: 1px solid $light;
    border-left: 1px solid $light;
  }

  #taskChart {
    border-right: 0px !important;
  }

  #costChart {
    border-left: 0px !important;
    border-right: 0px !important;
  }

  #workoutChart {
    border-left: 1px solid $light;
  }
}


// Update the background color of the app
body[data-theme="dark"] {
  background-color: hsl(0, 63%, 45%);
  color: #ffffff;
  transition: .4s all ease-in-out;
}

// Customize specific components or elements for dark mode
.header[data-theme="dark"],
.header-dark {
  background-color: $secondary !important;
  color: #ffffff;
  transition: .4s all ease-in-out;
}
.aside[data-theme="dark"],
.aside-dark {
  background-color: $dark !important;
  // color: #000000;
  // border-right: 1px solid $light;
  transition: .4s all ease-in-out;
}

.main[data-theme="dark"],
.main-dark {
  background-color: $secondary !important;
  transition: .4s all ease-in-out;
}

.button[data-theme="dark"] {
  background-color: #555555;
  color: #ffffff;
  transition: .4s all ease-in-out;
}

// Update the background color of the app
body[data-theme="light"] {
  background-color: #ffffff;
  color: #000000;
  // --text-color: red;
  transition: .4s all ease-in-out;
}

// Customize specific components or elements for light mode
.header[data-theme="light"],
.header-light {
  background-color: #ffffff !important;
  // color: #000000;
  transition: .4s all ease-in-out;
}

.aside[data-theme="light"],
.aside-light {
  background-color: #ffffff !important;
  // color: #000000;
  border-right: 1px solid $light;
  transition: .4s all ease-in-out;
}

.main[data-theme="light"],
.main-light {
  background-color: #ffffff !important;
  transition: .4s all ease-in-out;
}

// .button[data-theme="light"] {
//   background-color: #dddddd;
//   color: #000000;
// }